<nav>
  <ul>
    <li class="<%= "selected" if controller_name == 'accounts' %>">
      <%= link_to 'Accounts', accounts_path %>
    </li>
    <li class="<%= "selected" if controller_name == 'transfers' %>">
      <%= link_to 'Transfer money', new_transfers_path %>
    </li>
    <li class="<%= "selected" if controller_name == 'pay' %>">
      <%= link_to 'Pay someone', new_pay_path %>
    </li>
    <li class="<%= "selected" if controller_name == 'messages' %>">
      <%= link_to 'Send bank mail', new_message_path %>
    </li>
    <% if is_admin_user? %>
      <li class="<%= "selected" if controller_name == 'messages' %>">
        <%= link_to 'Read bank mail (ADMIN)', messages_path %>
      </li>
    <% end %>
    <li class="<%= "selected" if controller_name == 'pin' %>">
      <%= link_to 'Change your PIN', edit_pin_path %>
    </li>
    <li>
      <%= link_to 'Logout', sessions_path, method: :delete %>
    </li>
  </ul>
</nav>
