<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Bank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Righteous&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="bank-header">
        <span class="logo">SB</span>
        <div class="tagline">
          Your <span>Stupid Bank</span>, today.
        </div>
      </div>
    </header>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
